[Unit]
Description=Owlogger web server
After=network.target caddy.service
Requires=caddy.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/owlogger.py -s http://localhost:18001 
WorkingDirectory=/var/lib/owlogger
Restart=on-failure
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
