[Unit]
Description=Run owpost periodically to send data to owlogger

[Timer]
OnBootSec=3min
OnActiveSec=15min
Unit=owpost.service

[Install]
WantedBy=timers.target
