[Unit]
Description=Run owpost periodically to send data to owlogger
Requires=owpost.service

[Timer]
OnCalendar=*-*-* *:0/15:00
Persistent=true
Unit=owpost.service

[Install]
WantedBy=timers.target
