html,body {
    overflow:hidden; 
    width: 100%;
    height:100%;
    padding:0;
    margin: 0;
}
#all {
    width:100%; 
    height:100%;
    display:grid;
}
@media only screen and (orientation: portrait) {
    #all {
        grid-template: 
            'toolbar' min-content
            'datebar' min-content
            'contentarea' auto
            'footer' min-content;
    }
    #toolbar {
        text-align:center; 
        grid-template: 
            'reload . date time' min-content
            'data stat plot week' min-content; 
        font-size: 1.5em; 
    }
    #datebar {
        padding: 10px 0 20px 0;
    }
    #date {
        text-align:right;
    }
    #time {
        text-align:right;
    }
    #uCal,input[type='text'],#showdate { 
        font-size: 2em;
    }
    .button {
        font-size:1.5em;
    }
    #reload {
        font-size: 1.2em;
    }
    #bfooter {
        font-size:1em;
    }
}
@media only screen and (orientation: landscape) {
    #all {
        grid-template-areas: 
            'toolbar datebar'
            'toolbar contentarea'
            'toolbar footer';
        grid-template-columns: min-content 1fr;
        grid-template-rows: 2em 1fr min-content;
    }
    #toolbar {
        text-align:left; 
        grid-template: 
            'reload' min-content
            '.' auto
            'data' min-content
            'stat' min-content 
            'plot' min-content 
            'week' min-content 
            '.' auto
            'date' min-content
            'time' min-content;
        font-size: 1.2em; 
    }
    #datebar {
        padding: 0;
    }
    #uCal,input[type='text'],#showdate { 
        font-size: 1.5em;
    }
    .button {
        font-size:1.2em;
    }
    #reload {
        font-size: 1em;
    }
    #bfooter {
        font-size:.5em;
    }
}

#toolbar {
    grid-area:toolbar;
    display:grid;
    border: black solid 1px;
}
#datebar {
    grid-area:datebar;
    display:flex; 
    align-items:center; 
    justify-content:center;
    flex-wrap:nowrap;
}
.button {
    background-color:#047a4f;
    border:none;
    color:white;
    padding :5px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-family:"Arial Narrow",sans-serif,Arial;
    margin:4px 2px;
    border-radius:8px;
    cursor:pointer;
}
.blegend {
    color:white;
    padding:2px;
    border:none;
    display:inline-block;
    font-size:.6em;
    text-align:center;
    text-decoration:none;
    margin:2px;
    cursor:pointer;
}
#reload {
    grid-area:reload; 
    background-color:#0e0ed4; 
}
#data {
    grid-area:data;
}
#stat {
    grid-area:stat;
}
#plot {
    grid-area:plot;
}
#week {
    grid-area:week;
}
#date {
    grid-area:date;
}
#time {
    grid-area:time;
}
.present {
    background-color: #e6ffe6;
}
#contentarea {
    grid-area:contentarea;
    overflow-y:auto;
    position:relative;
}
#graph {
    height:100%;
    width:100%;
    display:block;
}
#footer {
    grid-area:footer;
    display:flex;
    justify-content:flex-end;
}
#legend {
    display:flex;
}
table {
    border-collapse:collapse;
    font-size:1em; 
    width:100%;
}
thead {
    position:sticky;
    top:0;
    background-color:white;
}
.dataTable tr:nth-child(even) {
    background-color: #D6EEEE; 
    border-bottom: 1px solid #ddd;
}
.statTable tr:nth-child(3n-1) {
    background-color: #D6EEEE; 
    border-bottom: 1px solid #ddd;
}
td {
    padding-left: 1em; 
    padding-right: 1em;
}
.non-plot {
    display:block;
}
.yes-plot {
    display:none;
}
